<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liketiger.cloth_up">



  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<meta-data
    android:name="com.kakao.sdk.AppKey"
    android:value="{48789ebd824b13f3d454167de20c7042}" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GMapActivity">
        </activity>
        <activity android:name=".Zzim.ZzimActivity">
        </activity>
        <activity android:name=".Fragment.MarketInfo.WriteActivity">
        </activity>
        <activity android:name=".Auth.JoinInfoActivity">
        </activity>
        <activity android:name=".Auth.MyCominActivity">
        </activity>
        <activity android:name=".Auth.JoinActivity">
        </activity>
        <activity android:name=".Auth.LoginActivity">
        </activity>
        <activity android:name=".Fragment.MarketInfo.MarketInfoActivity">
        </activity>
        <activity android:name=".LectureActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnyk2V1DgwR-kIHsa_EAwVoO27mIu59Ek" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>

</manifest>